.author-contact-info {
    padding-left: 15px;
    padding-right: 5px;
}

.author-name {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-whatsapp {
    background-color: rgb(6, 215, 85);
}

.btn-whatsapp:hover {
    background-color: rgba(6, 215, 85, 0.8);
    transition: background-color 0.5s;
}

.btn-dislike {
    background-color: rgb(240, 239, 240);
}

.bg-grey {
    background-color: #eee;
}

.bg-info-blue {
    background-color: #00aadd;
}

.btn-blue {
    background-color: #1e95dd;
}

.btn-blue:hover {
    background-color: rgba(30, 149, 221, 0.8);
    transition: background-color 0.5s;
}

.btn-blue:active {
    opacity: 0.7;
}

/**
    Estilização do icone de loading
*/

.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #1e95dd;
    margin-bottom: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}
